test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="OrderedItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ItemName" type="xs:string"></xs:element>
				<xs:element name="Description" type="xs:string"></xs:element>
				<xs:element name="UnitPrice" type="xs:double"></xs:element>
				<xs:element name="Quantity" type="xs:int"></xs:element>
				<xs:element name="LineTotal" type="xs:int"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
